%div{class: "post-view"}    
    %h1= @post.title
    %p= @post.body
    %span= "Post was updated #{time_ago_in_words(@post.updated_at)} ago"
    %br/
    %span= "Created #{time_ago_in_words(@post.created_at)} ago"
    %br/

    = render @post.comments
    %br/

    - if user_signed_in?
        %h3 Add a comment
        = render 'comments/form'
        %br/

    - if @user == current_user
        %p= link_to "Edit your post", edit_post_path
        %br
        %p= link_to "Delete your post", post_path, method: :delete, data: { confirm: "are you sure?"}